<!--
 * @Author: kaka
 * @Date: 2022-02-21 18:54:38
 * @LastEditors: kaka
 * @LastEditTime: 2022-03-16 18:23:13
-->
<mat-toolbar class="app-toolbar">
    <span>Kaka App</span>
    <ng-container *ngIf="nodes.length>0" [ngTemplateOutlet]="topMenu"></ng-container>
    <div class="flex-spacer"></div>
    <div class="external-icons-container">
        <button mat-icon-button class="button-icon">
            <mat-icon>account_box</mat-icon>
        </button>
    </div>
</mat-toolbar>
<ng-template #topMenu>
    <ul role="navigation">
        <li *ngFor="let node of nodes">
            <a class="nav-link" [routerLink]="[node.url]" [title]="node.tooltip">
                <span class="nav-link-inner">{{ node.title }}</span>
            </a>
        </li>
    </ul>
</ng-template>